body {
 margin:0;
 padding:0;

}

section {
margin-bottom: 30px;
}


section.container .recent-container:hover {
box-shadow: 0 0 10px 5px #4CAF50;
}

section.container .recent-container {
position:relative;
}

.recent-container { 
 border-radius:8px; 
 } 

.recent-details {
position:absolute;
top: 20%;
left: 10%;
}

.recent-details a {
 color:white;
 text-decoration:none;
}


.recent-details .tag { 
 	text-transform:uppercase; 
	padding: 10px 20px; 
 	background: #4CAF50; 
 	font-size: 100%;  	 
}

.welcome-image img {
float:right;
}

.welcome-section {
    height:400px;
    background: url("wooden-circle.jpg") no-repeat fixed;
    background-size:cover;
    background-size: 300px;
    background-position: 900px 300px;
}


.welcome-section p a[rel="author"] {
    text-decoration: none;
    color: #000000;
    font-style: italic;
}

.welcome-section p {
text-align:justify;
}

section.statistic {
    text-align: center;
}

section.statistic img{
    height: 200px;
    width: 200px;
} 

section.statistic p{
    font-size: 20px; 
    font-weight: 600; 
    margin-top: 20px; 
    margin-bottom: 5px; 
}

section.statistic hr{
    border-color: white;
    height: 5px;
    width: 100px;
    background: #4CAF50;
}

section.statistic .statistic-block{
    padding-bottom: 30px;
}

section.fish-address {
    padding: 50px 60px;
}

section.fish-address hr{
    border:0;
    height: 5px;
    width: 300px;
    background: black;
}

section.fish-address {
    background: url("fish2.jpg") no-repeat fixed;
    background-size:cover;
}

section.fish-address a{
    text-decoration: none;
    color: black;
}

#map {
    height:400px;
    width: 100%;
    background:yellow;
}

